DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
RESEND_API_KEY="re_123456789"
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"
NEXT_PUBLIC_SENTRY_DSN=""
