DATABASE_URL="postgresql://neondb_owner:npg_6HLtn3NkaiRE@ep-aged-scene-ad4mx3i7-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
RESEND_API_KEY="re_j77vyEUW_KJ6HVdDrvLG85LR68Etkt7jw"
BETTER_AUTH_SECRET="j0s0Mpjiu41X8yC6A7jyMJiGBqax30TF"
BETTER_AUTH_URL="http://localhost:3000"
FREE_CURRENCY_API_KEY="fca_live_lvWpRdGDYF7CWBmqo7ioVA10HHTsAHhxDebSbTBB"
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"
NEXT_PUBLIC_SENTRY_DSN=""


# Cloudflare Turnstile CAPTCHA
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY="0x4AAAAAAABkMYinukE8nzpz"
CLOUDFLARE_TURNSTILE_SECRET_KEY="0x4AAAAAAABkMYinutE8nzpz_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"