# .next
.next/
out/
build/

# production
node_modules/

# env
.env
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db

# next.js
next-env.d.ts
*.tsbuildinfo

# logs
error.txt
*.log
